.task {
    width: 300px;
    border: 2px solid #2CCCC3;
    padding: 15px 60px;
    border-radius: 10px;
    font-family: Courier;
    margin:2% auto;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    color:gray;
}

.uncomplete {
    color: white;
}